body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    color: white;
}

.outer-container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.fill-grow-row {
    background-color: red;
    flex-grow: 1; /* Take all remaining vertical space */
}

.content-height-row {
    background-color: blue;
    height: fit-content; /* Adjust height based on content */
    width: 100%;
}
