html {
    font-family: sans-serif;
    font-weight: bold;
    box-sizing: border-box;
}

.outer {
    width: 100%;
    height: 50px;
    background-color: #eee;
    position: relative;
}

.inner {
    height: 50px;
    background-color: #999;
    box-shadow: inset 3px 3px 5px rgb(255 255 255 / 0.5), inset -3px -3px 5px rgb(0
    0 0 / 0.5);
}

.result {
    height: 20px;
    box-shadow: inset 3px 3px 5px rgba(255 255 255 / 0.5), inset -3px -3px 5px rgb(0
    0 0 / 0.5);
    background-color: orange;
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.result code {
    position: absolute;
    margin-left: 20px;
}

.results {
    margin-top: 10px;
}

.input-container {
    position: absolute;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 50px;
}

label {
    margin: 0 10px 0 20px;
}
